*{
    font-family: "Inter", sans-serif;
}

body{
  margin:0;
  background: url("assets/background.png"), url("assets/opacity.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  backdrop-filter: blur(1px);
  overflow: hidden;
  background-blend-mode: darken;;
}

main{
    display: flex;
    justify-content: center;  
    align-items: center;      
    min-height: 100vh;    
}

.container-texto{
    margin-left: 50px;
    width: 45%;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    line-height: 1.6; 
    overflow-wrap: break-word;
    color: white;
    font-size: 25px;
}

.content{
    font-size: 20px;
}
.reserva{
    color: #F1C40F;
}

form {
  margin: 0 auto;
  width: 250px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: white;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  border-radius: 10px;
  height: 300px;
  gap: 15px;
  display: flex;
  flex-direction: column;

}

input {
    padding: 5px;
    margin-top: 4px;
    width: 90%;
}


#nome, #sobrenome, #email, #contato::placeholder {
    font-size: 12px;
}

#placeholder-text {
    padding: 1px;
    
}
input:placeholder-shown {
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"]{
    border-radius: 3px;
    background-color: #2c2c2c;
    border: #2c2c2c;
    color: white;
    font-size: 15px;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;
}

@media (max-width: 910px) and (min-width: 700px){
    form{
        width: 180px;
    }

    .container-texto{
        width: 45%;
        font-size: 20px;
    }

    .content{
        font-size: 15px;
    }

    #nome, #sobrenome, #email, #contato::placeholder {
    font-size: 10px;
}
}

@media (max-width: 699px) and (min-width: 400px){
    form{
        width: 135px;
        height: 270px;
        font-size: 12px;
    }

    .container-texto{
        width: 45%;
        font-size: 15px;
        margin-left: 20px;
    }

    .content{
        font-size: 10px;
    }

    #nome, #sobrenome, #email, #contato::placeholder {
    font-size: 8px;
    }

    button[type="submit"]{
        font-size: 12px;
    }
}